# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
venv/
.env

# Node
node_modules/
build/
dist/

# macOS
.DS_Store

# Logs
*.log

# VSCode
.vscode/

# React
frontend/.env
frontend/.env.*

# FastAPI
backend/.env
backend/.env.*

# Misc
*.swp
*.swo
.idea/ 